<section class="start-page-frame">
  <div class="img-container">
    <img class="bg-img" src="../../assets/startpage/background.jpg" alt="">
  </div>
  <div class="start-page-content">
    <header>
      <h1>Videoflix</h1>
      <button class="standart-btn">Einloggen</button>
    </header>
    <div class="info-form-container">
      <div class="info">
        <h2>Unbegrenzt Filme, Serien und mehr</h2>
        <h3>Genießen Sie Videoflix, wo immer Sie möchten. Jederzeit kündbar.</h3>
      </div>
      <div action="" class="continue-mail">
        <h2>Sind Sie startklar? Geben Sie Ihre E-Mail-Adresse ein, um Ihre Mitgliedschaft zu beginnen.</h2>
        <form action="" class="validate-mail">
          <div class="standart-inputcon">
            <input autocomplete="email" type="text" id="emailinput" [formControl]="email" required>
            <label for="emailinput">E-Mail-Adresse</label>
            @if(email.invalid) {
              <p class="error-message">{{getErrorMessagePassword()}}</p>
            }
          </div>
          <button class="standart-btn btn-big">
            Loslegen
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                 data-mirrorinrtl="true" class="default-ltr-cache-4z3qvp e1svuwfo1" data-name="ChevronRight"
                 aria-hidden="true">
              <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M15.5859 12L8.29303 19.2928L9.70725 20.7071L17.7072 12.7071C17.8948 12.5195 18.0001 12.2652 18.0001 12C18.0001 11.7347 17.8948 11.4804 17.7072 11.2928L9.70724 3.29285L8.29303 4.70706L15.5859 12Z"
                    fill="currentColor"></path>
            </svg>
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
