header {
  display: flex;
  flex-direction: row;
  position: sticky;
  align-items: center;
  z-index: 10;
  top: 0;
  padding: 10px 40px;
}

h1 {
  padding-right: 40px;
  color: var(--red);
  cursor: pointer;
  font-size: 40px;

  &:hover {
    text-shadow: #E50914FF 0 0 20px;
  }
}
