header {
  display: flex;
  flex-direction: row;
  position: sticky;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  top: 0;
  padding: 10px 40px;
}

h1 {
  padding-right: 40px;
  color: var(--red);
  cursor: pointer;
  font-size: 40px;

  &:hover {
    text-shadow: #E50914FF 0 0 20px;
  }
}

.head-nav {
  display: flex;
  flex-direction: row;
  align-items: center;

  nav {
    display: flex;
    flex-direction: row;
    gap: 20px;

    a {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }

      &:active {
        color: var(--red);
      }

    }

  }

}

.button-con {
  display: flex;
  gap: 20px;
}

.burger-menu {
  display: none;
}

button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  border: none;
  border-radius: 90px;
  background-color: rgb(255, 255, 255, 0.4);

  &:hover {
    scale: 1.1;
    border: 1px solid red;
  }

  &:active {
    scale: 1;
  }

}

@media (max-width: 600px) {
  .head-nav {
    nav {
      display: none;
    }
  }

  .burger-menu {
    display: flex;
  }

}

@media (max-width: 350px) {

  header {
    padding: 10px 20px;
  }

  h1 {
    padding-right: 20px;
  }
}
