<app-header class="header"></app-header>

<div class='impressum'><h1>Impressum</h1>
  <p>Angaben gemäß § 5 TMG</p>
  <p>Simon Esders <br>
    Hünensand 59<br>
    49716 Meppen <br>
  </p>
  <p><strong>Vertreten durch: </strong><br>
    Simon Esders<br>
  </p>
  <p><strong>Kontakt:</strong> <br>
    Telefon: 05932-69999<br>
    E-Mail: <a href='mailto:simonesders2003@gmail.com'>simonesders2003&#64;gmail.com</a></p>
  <p><strong>Haftungsausschluss: </strong><br><br><strong>Haftung für Inhalte</strong><br><br>
    Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität
    der Inhalte können wir jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene
    Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als
    Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder
    nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder
    Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche
    Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden
    von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.</p><br>
  Website Impressum von <a href="https://www.impressum-generator.de">impressum-generator.de</a>
</div>

