<section class="login-frame">
  <app-header class="header"></app-header>
  <div class="login-content">
    <form action="" class="login-form">
      <div class="standart-inputcon">
        <input type="text" id="email" required>
        <label for="email">E-Mail-Adresse</label>
      </div>
      <div class="standart-inputcon">
        <input type="text" id="password" required>
        <label for="password">Passwort</label>
      </div>
      <button class="standart-btn" type="submit">Einloggen</button>
      <a href="">Password vergessen?</a>
    </form>
    <div class="remember-container">

    </div>
  </div>
  <app-footer class="footer"></app-footer>
</section>
