<section class="login-frame">
  <app-header class="header"></app-header>
  <div class="login-content">
    <form action="" class="login-form">
      <div class="standart-inputcon">
        <input type="text" id="email" required>
        <label for="email">E-Mail-Adresse</label>
      </div>
      <div class="standart-inputcon">
        <input type="text" id="password" required>
        <label for="password">Passwort</label>
      </div>
      <button class="standart-btn" type="submit">Einloggen</button>
      <a href="">Password vergessen?</a>
    </form>
    <div class="remember-container">
      <input style="display: none" type="checkbox" name="remember" id="remember" (change)="toggleRemember()" #remembermecheckbox>
      <label for="remember">
        <svg *ngIf="!remember" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960"
             width="24">
          <path fill="white"
                d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Z"/>
        </svg>
        <svg *ngIf="remember" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
          <path fill="white"
            d="m424-312 282-282-56-56-226 226-114-114-56 56 170 170ZM200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm0-560v560-560Z"/>
        </svg>
      </label>
      <p>Benutzerdaten merken</p>
    </div>
  </div>
  <app-footer class="footer"></app-footer>
</section>
