<section class="login-frame">
  <app-header class="header"></app-header>
  <div class="user-feedback" *ngIf="showFeedback" (animationend)="toggelLoginFailed()">
    Der Login ist fehlgeschlagen. Musst du dich noch verifizieren?
  </div>
  <div class="login-content">
    <h1>Einloggen</h1>
    <form [formGroup]="loginGroup" action="" class="login-form" #loginform>
      <div class="standart-inputcon">
        <input autocomplete="email" [ngClass]="email.valid ? 'valid' : ''" type="text" id="email" [formControl]="email" #emailinput required>
        <label for="email">E-Mail-Adresse</label>
        @if(email.invalid) {
          <p *ngIf="emailinput.value.length > 0" class="error-message">{{getErrorMessageEmail()}}</p>
        }
      </div>
      <div class="standart-inputcon">
        <input autocomplete="password" [ngClass]="password.valid ? 'valid' : ''" type="password" id="password" [formControl]="password" #passwordinput required>
        <label for="password">Passwort</label>
        @if(password.invalid) {
          <p *ngIf="passwordinput.value.length > 0" class="error-message">{{getErrorMessagePassword()}}</p>
        }
      </div>
      <button class="standart-btn" (click)="formUserFeedback(); login(emailinput.value, passwordinput.value)" type="submit">Einloggen</button>
      <a href="">Password vergessen?</a>
    </form>
    <div class="remember-container">
      <input style="display: none" type="checkbox" name="remember" id="remember" (change)="toggleRemember()" [checked]="getRememberme()" #remembermecheckbox>
      <label for="remember">
        <svg *ngIf="!remember" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960"
             width="24">
          <path fill="white"
                d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Z"/>
        </svg>
        <svg *ngIf="remember" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
          <path fill="white"
            d="m424-312 282-282-56-56-226 226-114-114-56 56 170 170ZM200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm0-560v560-560Z"/>
        </svg>
      </label>
      <p>Benutzerdaten merken</p>
    </div>
  </div>
  <app-footer class="footer"></app-footer>
</section>
