<section class="forgot-password-frame">
  <div class="background" (click)="closeEvent.emit(true)"></div>
  <form class="send-mail-form">
    <h1>Schicke dir eine Email um dein Passwort zurückzusetzen</h1>
    <div class="standart-inputcon">
      <input autocomplete="email" [ngClass]="email.valid ? 'valid' : ''" type="text" id="email" [formControl]="email"
             #emailinput required>
      <label for="email">E-Mail-Adresse</label>
      @if (email.invalid) {
        <p *ngIf="emailinput.value.length > 0" class="error-message">{{ getErrorMessageEmail() }}</p>
      }
    </div>
    <button (click)="sendMail()" class="standart-btn">Senden</button>
  </form>
</section>
