.banner-frame {
  position: relative;
  width: 100%;
  height: 80dvh;
  background-color: grey;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.extra-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 20px;
  bottom: 10dvh;
  left: 10vw;
  h1 {
    font-size: 47px;
  }
}

.action-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;

  button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    font-size: 1rem;
    border-radius: 8px;
    border: none;

    &:active {
      outline-offset: 2px;
      outline: 2px solid white;
      transition: 0ms;
    }

  }
}

.play-btn {
  background: white;

  &:hover {
    background: #d0d0d0;
  }

  &:active {
    opacity: 0.6;
  }

}

.info-btn {
  background: #8f8f8f;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

}
