.reset-password-frame {
  height: 100dvh;
  max-width: 100dvw;
  width: 100%;
  background-color: black;
  background-image: url("../../../assets/backgrounds/background_popcorn.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.reset-password-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  min-width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 16px;
  padding: 48px 68px;
  background-color: rgba(0, 0, 0, 0.7);

  .error-message {
    position: static;
    margin-top: 4px;
    transform: translate(0%);
  }

}
