<section class="reset-password-frame">
  <app-header class="header"></app-header>

  <form *ngIf="show === 1" [formGroup]="pwFormGroup" action="" class="reset-password-form">
    <h1>Setze dein neues Passwort</h1>
    <div class="standart-inputcon">
      <input [ngClass]="password.valid ? 'valid' : ''" id="password" type="password" [formControl]="password"
             #passwordinput required>
      <label for="password">Passwort</label>
    </div>
    <div class="standart-inputcon">
      <input [ngClass]="password2.valid ? 'valid' : ''" type="password" id="password2" [formControl]="password2"
             #passwordinput2 required>
      <label for="password2">Passwort</label>
      @if (password2.invalid) {
        <p *ngIf="passwordinput2.value.length > 0" class="error-message">{{ getErrorMessagePassword() }}</p>
      }
    </div>
    <button class="standart-btn" style="width: fit-content">Ändere dein password</button>
  </form>

  <div *ngIf="show === 2" class="tokenisinvalid">
    <h1>Deine Anfrage ist nicht gültig</h1>
  </div>

</section>
