/* You can add global styles to this file, and also import other style files */
:root {
  --red: #e50914;
  --red_hover: #c11119;
  --red_active: #99161d;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: white;

  * {
    transition: 175ms;
  }
}

h1, h2, h3, p {
  margin: 0;
}

.standart-btn {
  cursor: pointer;
  width: 100px;
  height: 32px;
  padding: 4px 16px;
  border: none;
  border-radius: 0.25rem;
  font-weight: 500;
  font-size: 0.875rem;
  color: white;
  background: var(--red);

  &:hover {
    background: var(--red_hover);
  }

  &:active {
    color: rgba(255,255,255,0.7);
    background: var(--red_active);
  }

}
