/* You can add global styles to this file, and also import other style files */
:root {
  --red: #e50914;
  --red_hover: #c11119;
  --red_active: #99161d;
  --green: #00ff00;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: white;

  * {
    transition: 175ms;
  }
}

h1, h2, h3, p {
  margin: 0;
}

.standart-btn {
  cursor: pointer;
  width: 100px;
  height: 32px;
  padding: 4px 16px;
  border: none;
  border-radius: 0.25rem;
  font-weight: 500;
  font-size: 0.875rem;
  color: white;
  background: var(--red);

  &:hover {
    background: var(--red_hover);
  }

  &:active {
    color: rgba(255, 255, 255, 0.7);
    background: var(--red_active);
  }

}

.standart-inputcon {
  position: relative;
  width: 100%;
  max-width: 400px;

  input {
    width: calc(100% - 32px);
    padding: 1.25rem 1rem 0.25rem;
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid red;
    border-radius: 0.25rem;
    color: #FFF;
    background: rgba(63, 60, 60, 0.25);

    &:-webkit-autofill + label {
      color: black;
    }

    &:valid + label {
      top: 10px;
      transform: translateY(-50%);
      font-size: 0.75rem;
    }

    &:focus + label {
      top: 10px;
      transform: translateY(-50%);
      font-size: 0.75rem;
    }
  }

  .valid {
    border-color: var(--green);
  }

  label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    font-size: 1rem;
  }

  .error-message {
    position: absolute;
    bottom: -4px;
    transform: translateY(100%);
    left: 16px;
    color: var(--red);
  }

}

.user-feedback {
  position: fixed;
  padding: 28px 38px;
  bottom: 0;
  right: 0;
  transform: translateX(100%);
  animation: userFeedbackSlideIn 3.5s forwards;
  background-color: rgba(0, 0, 0, 0.7);
}

.action-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;

  button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    font-size: 1rem;
    border-radius: 8px;
    border: none;

    &:active {
      outline-offset: 2px;
      outline: 2px solid white;
      transition: 0ms;
    }

  }
}

.info-btn {
  background: #8f8f8f;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

}

.play-btn {
  background: white;

  &:hover {
    background: #d0d0d0;
  }

  &:active {
    opacity: 0.6;
  }

}

.footer {
  position: absolute;
  top: 100%;
  width: 100%;
}

@keyframes userFeedbackSlideIn {
  20% {
    transform: translateX(0%);
  }
  90% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

