/* You can add global styles to this file, and also import other style files */
:root {
  --red: #e50914;
  --blue: #02AEEC;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

h1, h2, p {
  margin: 0;
}

.standart-btn {
  cursor: pointer;
  width: 100px;
  height: 32px;
  padding: 4px 16px;
  border: none;
  border-radius: 0.25rem;
  font-weight: 500;
  font-size: 0.875rem;
  color: white;
  background-color: var(--red);
}
