<section class="episode-frame">
  <img class="thumbnail" [src]="getThumbnailUrl()" alt="">
  <div class="text-con">
    <h1>{{episode?.title}}</h1>
    <p>{{episode?.description}}</p>
  </div>
  <div class="action-btns">
    <button class="play-btn" (click)="play.emit(true)">
      Abspielen

      <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
        <path d="M320-200v-560l440 280-440 280Zm80-280Zm0 134 210-134-210-134v268Z"/>
      </svg>
    </button>
  </div>
</section>
